<!DOCTYPE html>
<html lang="it">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.name | remove: ".md" | replace: "-", " " }}</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{ '/assets/js/search.js' | relative_url }}"></script>
    <link rel="stylesheet" href="styles.css">

</head>
<body>

    <h1>{{ page.name | remove: ".md" | replace: "-", " " }}</h1>
    <div class="content">
        {{ content }}
    </div>
    <script src="script.js"></script>
</body>
</html>
