<!DOCTYPE html>
<html lang="it">
    <!-- Aggiungi il campo di ricerca -->
<input type="text" id="search-input" placeholder="Cerca nel titolo del file..." onkeyup="searchFiles()" />

<!-- Aggiungi i risultati della ricerca -->
<div id="search-results"></div>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.name | remove: ".md" | replace: "-", " " }}</title>
</head>
<body>
    <h1>{{ page.name | remove: ".md" | replace: "-", " " }}</h1>
    <div class="content">
        {{ content }}
    </div>
</body>
</html>
